<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <title> Goo Advanture </title>
    <script src="bundle.js"> </script>
    <link rel="stylesheet" href="bundle.css">
  </head>
  <body>
    <main ng-controller="GameController as gameCtrl">
    <h1> #)(*#$ &gt; Welcome to Goo &lt; $#(*#&$ </h1>
    <form name= 'gamePadForm' novalidate>
      <label for="direction"> Direction: </label>
      <select name ="direction" ng-model="gamePadForm.direction">
        <option ng-init-"gamePadForm.direction = 'north'" ng-repeat="direction in gameCtrl.directions" value="{{direction}}">
          {{direction}}
        </option>
      </select>
      <button type="button" ng-click="gameCtrl.moveDirection(gamePadForm.direction)">
        move
      </button>
    </form>
    <ol>
      <li ng-repeat="item in gameCtrl.history track by item.id"> {{item.text}} </li>
    </ol>
      </main>
  </body>
  </html>
